<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnZStALyqRqrqF7XdiT6-sPzTIHGKbB7I</string>
	<key>GCM_SENDER_ID</key>
	<string>936207297131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flipro.renovateadminapp</string>
	<key>PROJECT_ID</key>
	<string>flipro-admin</string>
	<key>STORAGE_BUCKET</key>
	<string>flipro-admin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:936207297131:ios:d9a8d032b54cf927741f2e</string>
</dict>
</plist>
